<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/normalize.css"> 
</head>
<body class = 'editPage'>
          <div>
            <form action="/games/<%= game.id %>?_method=PUT" method="POST">
                
              <fieldset>
                <legend class = "editHeader">Edit Game Entry</legend>
                <fieldset>
                  <label for="title">Title: </label>
                  <input id="title" type="text" name="title" placeholder="Title Here" value="<%= game.title %>"required />
                  <!-- <input name="imgUrl" id="imageUrl"/> -->
                  <label for="rating">Rating: </label>
                  <input id="rating" type="text" name="rating" placeholder="Rating out of 10" value="<%= game.rating %>"required />
                  <!-- <label for="searchbar">Search For Game</label>
                  <input name="searchbar" id="searchbar" placeholder="type here" />
                  <button onclick="submitSearch(event)" type="button">Search</button> -->
  
                  <div id="gameImage"></div>
                  <label>
                    Played?: <input type="checkbox" name="played" value="<%= game.played %>"/>
                  </label>
                </br>
                  
                </fieldset>
                <!-- <input type="submit" value="Create New Entry" /> -->
                </br>
              </fieldset>
            </br>
            <a href = "../games/"><button class = 'buttonBack'>Back</button></a>
              <input type="submit" value="Submit Edit"/>
            </form>
          </div>
</body>
</html>