<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/normalize.css"> 
    <title></title>
</head>
<body class = "indexBody">
    <header>
        <h1 class = "indexHead">👾Game Track👾</h1>
    </header>
    <form action = '/games/search' method = 'POST' class = 'searchGames'>
        <input type = 'search' name = 'searchBar' id = 'searchBar' placeholder = 'search games'/>
        <button type = 'submit' id = "searchButton">Search</button>
    </form>
    <div id = 'resultsContainer'>
        
    </div>
        <a href="../games/played"><button class = 'button'>Played</button></a>
    
        <a href = "../games/unplayed"><button class = 'button'>Want To Play</button></a>
    <script> 
        // const searchTerm = req.body.searchBar
        // fetch(`https://api.rawg.io/api/games/?key=${process.env.API_KEY}&search=${searchTerm}`)
        // .then((apiResponse) => apiResponse.json())
        // .then(result => res.render('games/index.ejs', {result}))
        // console.log(searchTerm)
     </script>
</body>
</html>