<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/normalize.css"> 
    <title></title>
</head>
<body class="indexBody">
    <header>
        <h1 class="indexHead">👾Game Track👾</h1>
    </header>
    <div class="gameBox">
    <% games.forEach(function(game) { %>
        <div class="gameDisplay">
            <a href="/games/<%= game._id%>" style="text-decoration: none;"/>
            <h2>
                <%= game.title%> - <%= game.played %>
            </h2>
        </div>
      <% }); %>
    </div>
      <a href = "../games/new"><button class = 'newButton'>New Entry</button></a>
</body>
</html>