<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/normalize.css">
    <link rel = "stylesheet" href = "/stylesheet/style.css"> 
    <title></title>
</head>
<body class = "newEntry">
  <div id = 'searchBarResults'>
          <div>
            <form action="/games" method="POST">
              <fieldset>
                <legend class = 'newHeader'>New Game Entry</legend>
                <label for="title">Title: </label>
                <input id="title" type="text" name="title" value="TITLE HERE" required />
                <label for="rating">Rating: </label>
                <input id="rating" type="text" name="rating" value="rating HERE" required />
              </fieldset>
              <input type="submit" value="Create New Entry" />
              <!-- <input type="submit" value="Create New Entry" /> -->

            </form>
          </div>
        </main>
      

</body>

</html>