<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/normalize.css">
    <link rel = "stylesheet" href = "/stylesheet/style.css"> 
    <title></title>
</head>
<body class = "newEntry">
  <div id = 'searchBarResults'>
          <div>
            <form action="/games" method="POST">
                
              <fieldset>
                <legend class = 'newHeader'>New Game Entry</legend>
                <label for="title">Title: </label>
                <input id="title" type="text" name="title" placeholder="TITLE HERE" required />
                <!-- <input name="imgUrl" id="imageUrl"/> -->
                <select id="rating" name="rating">
                  <% for(let i = 1; i < 11; i++) { %>
                   <option><%=i%></option>
                   <% } %>
                    </select>
                <!-- <label for="rating">Rating: </label>
                <input id="rating" type="text" name="rating" placeholder="rating HERE" required /> -->
                <label for="searchbar">Search For Game</label>
                <input name="searchbar" id="searchbar" placeholder="type here" />
                <button onclick="submitSearch(event)" type="button">Search</button>

                <div id="gameImage"></div>
                <label>
                  Played?: <input type="checkbox" name="played" value="played"/>
                </label>
              </br>
                <input type="hidden" id="image" name="image" class="picture"/>
              </fieldset>
              <input type="submit" value="Create New Entry" class="submitButton"/>
              <!-- <input type="submit" value="Create New Entry" /> -->


             
        
            </form>
            <ul id="searchResultsList">
              
            </ul>
            <a href = "../games/"><button class = 'backButton'>Back</button></a>
          </div>
        </main>
        


        <script>
          const searchBar = document.getElementById('searchbar'); //<---grabbing the searchbar and assigning it to an acceiible variable
          let searchTerm = "";
          let searchResults = [];
        
          function submitSearch(event) {
            event.preventDefault();
            console.log("SUBMIT IS LINkED UP")

             //---grabbing user input
            console.log(searchBar.value)
            searchTerm = searchBar.value; // <---user's search term to create an api call with

             //---making api call
            const searchUrl = `https://api.rawg.io/api/games?key=65295476a4e840ff9fa04447f3cd7fd8&search=${searchTerm}`
            console.log(searchUrl);
            fetch(searchUrl)
            .then(results => {
              console.log(results)
              results.json()
              .then(gameData => {
              console.log(gameData)
              searchResults = gameData.results
              listResults();
            });
          })
          };//end of submitSearch

          function listResults() {
            console.log("Now it's time to list the results")
            console.log(searchResults)

            const searchBarResults = document.getElementById('searchBarResults');
            const listContainer = document.getElementById('searchResultsList'); // <--- grabbing the <ul> container
            const titleInput = document.getElementById('title');

            searchResults.forEach(game => {
              const gameItem = document.createElement('li');
              const imgContainer = document.getElementById("gameImage")
              const imageUrl = document.getElementById('imgUrl')
              // formContainer.value = event.currentTarget.firstChild.innerText;
              // console.log(event.currentTarget.firstChild.innerText)
              gameItem.setAttribute("class", "resultItem");
              // onClick
              gameItem.onclick = function(event){
                console.log('onclick activated')
                console.log(event.currentTarget)
                console.log(event.currentTarget.firstChild)
                const title = event.currentTarget.firstChild.innerText
                console.log(title)
                console.log(event.currentTarget.children[1].src);

                imgContainer.style.backgroundImage = `url("${event.currentTarget.children[1].src}")`
                // imgUrl.value = event.currentTarget.children[1].src
                listContainer.innerHTML = ""

                titleInput.value = title;
              }; // end of onclick
              gameItem.innerHTML = `<h3>${game.name}</h3>
                                    <img class= 'gameResultsImage' src= "${game.background_image}"/>
                                    
              `;
              listContainer.append(gameItem)

              console.log(imgContainer.style.backgroundImage)
              let pic = document.querySelector('.picture');
              let img = imgContainer.style.backgroundImage
              pic.setAttribute('value', game.background_image)

            });// <--end of foreach

          

          }
        
        </script>

</body>

</html>