<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/normalize.css">
    <link rel = "stylesheet" href = "/stylesheet/style.css"> 
    <title></title>
</head>
<body class = "newEntry">
          <div>
            <form action="/games/" method="post">
                
              <fieldset>
                <legend class = 'newHeader'>New Game Entry</legend>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" placeholder="game name"/>
                <div id="gameImage">[Game image here]</div>
              </fieldset>
              <!-- <input type="submit" value="Create New Entry" /> -->


              <label for="searchbar">Search For Game</label>
        <input name="searchbar" id="searchbar" placeholder="type here" />
      
        <button onclick="submitSearch(event)" type="button">Search</button>
            </form>
            <ul id="searchResultsList">
              
            </ul>
            <a href = "../games/"><button class = 'buttonBack'>Back</button></a>
          </div>
        </main>
        


        <script>
          const searchBar = document.getElementById('searchbar'); //<---grabbing the searchbar and assigning it to an acceiible variable
          let searchTerm = "";
          let searchResults = [];
        
          function submitSearch(event) {
            event.preventDefault();
            console.log("SUBMIT IS LINkED UP")

             //---grabbing user input
            console.log(searchBar.value)
            searchTerm = searchBar.value; // <---user's search term to create an api call with

             //---making api call
            const searchUrl = `https://api.rawg.io/api/games?key=65295476a4e840ff9fa04447f3cd7fd8&search=${searchTerm}`
            console.log(searchUrl);
            fetch(searchUrl)
            .then(results => {
              console.log(results)
              results.json()
              .then(gameData => {
              console.log(gameData)
              searchResults = gameData.results
              listResults();
            });
          })
          };//end of submitSearch

          function listResults() {
            console.log("Now it's time to list the results")
            console.log(searchResults)

            const listContainer = document.getElementById('searchResultsList'); // <--- grabbing the <ul> container

            searchResults.forEach(game => {
              const gameItem = document.createElement('li');
              gameItem.setAttribute("class", "resultItem");
              gameItem.onclick = function(event){
                console.log('onclick activated')
                console.log(event.currentTarget)
                console.log(event.currentTarget.firstChild)
                const title = event.currentTarget.firstChild.innerText
                console.log(title)
              }; // end of onclick
              gameItem.innerHTML = `<h3>${game.name}</h3>
                                    <img class= 'gameResultsImage' src= "${game.background_image}"/>
                                    
              `;
              listContainer.append(gameItem)

            });// <--end of foreach

          }

         
        </script>

</body>

</html>