<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/normalize.css"> 
    <title></title>
</head>
<body class = "newEntry">
          <div>
            <form action="/games/" method="post">
                
              <fieldset>
                <legend>New Game Entry</legend>
                <label>
                  Game Name:<input
                    type="text"
                    name="gameName"
                    value=""
                    placeholder="enter game name"
                  />
                </label>
                </br>
                <label>
                    Completed:<input type="checkbox" name="finished"/>
                  </label>
                </br>
                <label>
                    Finished:<input type="checkbox" name="finished"/>
                  </label>
                </br>
                <label>
                    Rating:<input
                      type="number"
                      name="Rating"
                      value=""
                      placeholder="out of 5, 0 = N/A"
                    />
                  </label>
              </fieldset>
              <input type="submit" value="Create New Entry" />
            </form>
          </div>
        </main>
</body>
</html>