<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/normalize.css"> 
    <title>Document</title>
</head>
<body class = 'playedBody'>
    <h1 class = 'playedHeader'>Played</h1>
    <ul id = 'playedGamesList'>
        played
    </ul>
</body>
<footer>
    <a href="../games"><button class = 'button'>Home</button></a>
</footer>
</html>