/* Fonts */
@font-face {
    font-family: 'indexFont';
    src: url("../fonts/batmfa.ttf") format('truetype');
}

@font-face {
    font-family: 'editFont';
    src: url("../fonts/ARCADE_N.TTF") format('truetype');
}

@font-face {
    font-family: 'playedFont';
    src: url('../fonts/roguehero.ttf') format('truetype');
}

@font-face {
    font-family: 'unplayedFont';
    src: url('../fonts/Adonais.ttf') format('truetype');
}

@font-face {
    font-family: 'newFont';
    src: url('../fonts/terminator\ real\ nfi.ttf') format('truetype');
}

/* new.ejs */
.newHeader {
    font-family: 'newFont';
}

.newEntry {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    background-image: url(../images/new\ background.gif);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
}

.gameResultsImage {
    height: 400px;
    width: 600px;
}

.resultItem {
    border: solid 2px;
    padding: 10px;
}

#gameImage {
    /* border: solid 2px black; */
    height: 293px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: cover;
}

/* index.ejs */
.indexHead {
    font-family: 'indexFont';
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin-top: 75px;
    font-size: 90px;
}

.indexBody {
    background-image: url(../images/city_background.gif);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
    .button {
        background-color: #394d6d;
        color: #ffcdb2;
        border-radius: 5px;
        box-shadow: 5px 5px 5px;
        height: 115px;
        width: 275px;
        margin: 5px;
        padding: 30px;
        border-color: black;
        font-size: xx-large;
    }

    .searchGames {
        display: flex;
        align-items: top;
        justify-content: top;
        margin-top: -40px;
    }

/* edit.ejs */
.editPage {
    background-image: url(../images/edit_background.gif);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-top: 75px;
}

.editHeader {
    font-family: 'editFont';
}

/* Played.ejs */
.playedHeader {
    font-family: 'playedFont';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.playedBody {
    background-image: url(../images/background_link.jpeg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* unplayed.ejs */
.unplayedHeader {
    font-family: 'unplayedFont';
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 90px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.unplayedBody {
    background-image: url(../images/hades_background.jpeg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
